[
  {emqttd_lcy,[
   {eredis_pool, [
     %% pool options
     {pool_size, 8},
     {auto_reconnect, 2},
   
     %% redis options
     {host, "192.168.25.100"},
     {port, 6379},
     {database, 0},
     {password, "f4e4821080ca489d3361a520fc2123495755559b45fb24323c5b02e79163e425"}
   ]},
   
   %% Variables: %u = username, %c = clientid
   
   %% HMGET mqtt_user:%u password
   {authcmd, "HGET %u password"},
   {getip, "HGET %u ipaddr"},
   {getuuid, "HGET %u uuid"},
   
   %% Password hash algorithm: plain, md5, sha, sha256, pbkdf2?
   {password_hash, plain},
   
   %% HMGET mqtt_user:%u is_superuser
   %%{supercmd, "HGET mqtt_user:%u is_superuser"}.
   
   %% HGETALL mqtt_acl:%u
   %%{aclcmd, "HGETALL mqtt_acl:%u"}.
   
   %% If no rules matched, return...
   %%{acl_nomatch, deny}.
   
   %% Load Subscriptions form Redis when client connected.
   %%{subcmd, "HGETALL mqtt_sub:%u"}.
   
   
   {pgsql_pool, [
     %% pool options
     {pool_size, 8},
     {auto_reconnect, 3},
   
     %% pgsql options
     {host, "192.168.25.100"},
     {port, 5433},
     {ssl, false},
     {username, "mqtt"},
     {password, "mqtt"},
     {database, "mqtt"},
     {encoding,  utf8}
   ]},
   
   %% Variables: %u = username, %c = clientid, %a = ipaddress
   
   %% Superuser Query
   %%{superquery, "select is_superuser from mqtt_user where username = '%u' limit 1"}.
   
   %% Authentication Query: select password only
   %%{authquery, "select password from mqtt_user where username = '%u' limit 1"}.
   
   %% hash algorithm: plain, md5, sha, sha256, pbkdf2?
   %%{password_hash, sha256}.
   
   %% select password with salt
   %% {authquery, "select password, salt from mqtt_user where username = '%u'"}.
   
   %% sha256 with salt prefix
   %% {password_hash, {salt, sha256}}.
   
   %% sha256 with salt suffix
   %% {password_hash, {sha256, salt}}.
   
   
   %% Comment this query, the acl will be disabled. Notice: don't edit this query!
   %%{aclquery, "select allow, ipaddr, username, clientid, access, topic from mqtt_acl where ipaddr = '%a' or username = '%u' or username = '$all' or clientid = '%c'"}.
   {aclquery, "select allow, ipaddr, username, clientid, access, topic from mqtt_acl where username = '%u'"},
   
   %% If no rules matched, return...
   {acl_nomatch, allow},
   
   %% timer  interval for mesc 
   {time_interval,60000}
   ]}
].

